
$font-family: Arial, sans-serif; 
$red: #B20636;
$green: #ACBCBB;
$gray: #c3cdcc;
$dark-gray: #7f7b7b;
$light-gray: #f1f1f1;

$font-size-h1: 2em;
$font-size-h2: 1em;
$font-size-lg: 1.7em;
$font-size-mdlg: 1.2em;
$font-size-md: 1em;
$font-size-smmd: 0.75em;

#main{
    padding: 1.5em;
}
.top{
    height: 5em;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}
.phone-link{
    font: $font-family;
    font-weight: bold;
}
.top .phone-link{
    font-size: $font-size-mdlg;
    color: $red;

}
.general-text .phone-link{
    color: $red;
}
.dark-gray-background .phone-link{
    color: white;
}
.green-background{
    background-color: $green;
}

.light-gray-background{
    background-color: $light-gray;
}

.dark-gray-background{
    background-color: $dark-gray;
    color: white;
    padding: 2em 0 2em 0;
    margin: 1.2em -1.25em -1.25em -1.25em;
}
.img-height{
    height: 20em;
}
.img-row-margin{
    margin: 2em -1em 2em -1em;
}
.girl-on-phone{
    object-fit: cover;
}
.img-text{
    z-index: 100;
    color: white;
    position: absolute;
    left: 10%;
}
.hr-length{
    padding-right: 10%;
}  
.general-text{
    color: $dark-gray;
}
.form-padding{
    padding: 3em 1.5em 3em 1.5em;
}
.form-field{
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
}
.red-submit{
    border: 1px solid $red;
    color: $red;
    font-weight: bold;
    background: $green;
    padding: 1em;
}
.testimonial-quote{
    margin-left: 4em; 
    border-left: 4px solid $gray;
}
.testimonial-name{
    font-size: $font-size-md;
    font-weight: bold;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

li {
    list-style-type: none;
    font-size: $font-size-lg;
    margin-bottom: 2em;
}
hr{
    border-top: 0.75px solid rgba(0, 0, 0, 1);
}
p{
    font-size: $font-size-mdlg;
}
input{
    height: 3em;
}
input::placeholder{
    color: $gray;
    font-weight: bold;
}
textarea{
    height: 5em;
}
textarea::placeholder{
    color: $dark-gray;
    font-weight: bold;
}